apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: {{ deploy_flask_app.name }}
    app.kubernetes.io/component: {{ deploy_flask_app.name }}
    app.kubernetes.io/instance: {{ deploy_flask_app.name }}
  name: {{ deploy_flask_app.name }}
  namespace: {{ deploy_flask_app.namespace }}
spec:
  failedBuildsHistoryLimit: 1
  output:
    to:
      kind: ImageStreamTag
      name: {{ deploy_flask_app.name }}:latest
  postCommit: {}
  resources: {}
  runPolicy: Serial
  source:
    git:
      uri: https://gitlab.com/wanderb/example-flask-app.git
      uri: {{ deploy_flask_app.gituri }}
    type: Git
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: python:3.6
        namespace: openshift
    type: Source
  successfulBuildsHistoryLimit: 2
  triggers:
  - type: ConfigChange
  - imageChange:
    type: ImageChange
