apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    app: {{ deploy_flask_app.name }}
    app.kubernetes.io/component: {{ deploy_flask_app.name }}
    app.kubernetes.io/instance: {{ deploy_flask_app.name }}
  name: {{ deploy_flask_app.name }}
  namespace: {{ deploy_flask_app.namespace }}
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    deploymentconfig: {{ deploy_flask_app.name }}
  strategy:
    type: Rolling
  template:
    metadata:
      labels:
        deploymentconfig: {{ deploy_flask_app.name }}
    spec:
      serviceAccountName: {{ deploy_flask_app.serviceaccount }}
      containers:
      - image: ''
        imagePullPolicy: Always
        name: {{ deploy_flask_app.name }}
        ports:
        - containerPort: 8080
          protocol: TCP
      restartPolicy: Always
  triggers:
  - type: ConfigChange
  - imageChangeParams:
      automatic: true
      containerNames:
      - {{ deploy_flask_app.name }}
      from:
        kind: ImageStreamTag
        name: {{ deploy_flask_app.name }}:latest
        namespace: {{ deploy_flask_app.namespace }}
    type: ImageChange
