apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  generation: 1
  labels:
    app: {{ deploy_flask_app.name }}
    app.kubernetes.io/component: {{ deploy_flask_app.name }}
    app.kubernetes.io/instance: {{ deploy_flask_app.name }}
  name: {{ deploy_flask_app.name }}
  namespace: {{ deploy_flask_app.namespace }}
