apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: flask-view
  namespace: {{ deploy_flask_app.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
- kind: ServiceAccount
  name: {{ deploy_flask_app.serviceaccount }}
  namespace: {{ deploy_flask_app.namespace }}
