apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    openshift.io/host.generated: "true"
  creationTimestamp: "2020-03-09T12:40:59Z"
  labels:
    app: {{ deploy_flask_app.name }}
    app.kubernetes.io/component: {{ deploy_flask_app.name }}
    app.kubernetes.io/instance: {{ deploy_flask_app.name }}
  name: {{ deploy_flask_app.name }}
  namespace: {{ deploy_flask_app.namespace }}
spec:
  port:
    targetPort: 8080-tcp
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: {{ deploy_flask_app.name }}
    weight: 100
  wildcardPolicy: None
