apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ deploy_flask_app.name }}
    app.kubernetes.io/component: {{ deploy_flask_app.name }}
    app.kubernetes.io/instance: {{ deploy_flask_app.name }}
  name: {{ deploy_flask_app.name }}
  namespace: {{ deploy_flask_app.namespace }}
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    deploymentconfig: {{ deploy_flask_app.name }}
  sessionAffinity: None
  type: ClusterIP
