{% extends 'base.html' %}
{% block title %}
Hello World!
{% endblock %}

{% block body %}
Hello Cruel World!

<div class="hostname">
	Our hostname is {{ hostname }}.
</div>
<div class="pod">
        Our podpsec is:
  <pre>{{ ourpod }}</pre>
</div>
{% endblock %}
